body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    width: 80%;
    height: 70vh;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
}

.left-section {
    width: 60%;
}

.left-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right-section {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.form-container {
    width: 80%;
}

h2 {
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
}

.hidden {
    display: none;
    text-align: center;
    font-size: 1.2em;
    color: green;
}
#home-link {
    display: block;
    text-align: center;
    font-size: 1.2em;
    color: blue;
    text-decoration: none;
    margin-top: 10px;
}

#home-link:hover {
    text-decoration: underline;
}

